
<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li>Personaje 1 - dato 1</li>
            <li>Personaje 1 - dato 1</li>
            <li>Personaje 1 - dato 1</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form action="">
            <input type="text" placeholder="Nombre"/>
            <input type="number" placeholder="Poder"/>
            <button>
                Agregar
            </button>
        </form>
    </div>

</div>